.block {
    width: 200px;
    height: 200px;
    cursor: pointer;
    text-align: center;
}

body {
    background-color: rgb(39, 39, 37);
}

.board {
    width: 100%;
    z-index: 2;
    max-width: 1200px;
    margin: 40px auto;
    margin-bottom: 20px;
    position: relative;
}

#player {
    margin-top: 20px;
    color: white;
    display: none;
}

.player {
    width: 100px;
    height: 100px;
    position: relative;
    top: 18%;
}

#canvas {
    position: relative;
    top: -600px;
}

.row {
    width: 600px;
    margin: 0px auto;
    position: relative;
    z-index: 2;
}

h1 {
    color: white;
    text-align: center;
    font-size: 35px !important;
}

#pop-up {
    position: absolute;
    width: 80%;
    text-align: center;
    top: -400px;
    left: 10%;
    z-index: 1;
}

#pop-up .container1 {
    background: #363636;
    padding: 40px;
    position: absolute;
    top: 50px;
    width: 100%;
    box-sizing: border-box;
    height: 180px;
}

.cross {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #555;
    color: #ddd;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    cursor: pointer;
}

.cross:hover i {
    color: red;
}

/*--------------------------------------------------------Animation for Victory----------------------------------------------------*/

.animate {
    animation: drop 0.5s ease forwards;
}

.glow-green {
    animation: glow-green 1s 0.5s ease-in forwards infinite alternate;
}

.glow-blue {
    animation: glow-blue 1s 0.5s ease-in forwards infinite alternate;
}


.animateAvatar {
    position: absolute !important;
    left: 10%;
    top: 50%;
    animation: moveAvatar 2s 0.5s linear forwards infinite alternate;
}

@keyframes drop {
    0% {
        opacity: 0;
    }

    70% {
        transform: translateY(700px);
    }

    100% {
        transform: translateY(500px);
        opacity: 1;
    }
}

@keyframes glow-green {
    0% {
        box-shadow: 4px 4px 50px rgba(49, 231, 13, 0.411);
    }

    25% {
        box-shadow: 4px 4px 50px rgba(49, 231, 13, 0.568);
    }

    50% {
        box-shadow: 4px 4px 50px rgba(49, 231, 13, 0.733);
    }

    75% {
        box-shadow: 4px 4px 50px rgba(49, 231, 13, 0.815);
    }

    100% {
        box-shadow: 4px 4px 50px rgba(49, 231, 13, 0.87);
    }
}

@keyframes glow-blue {
    0% {
        box-shadow: 4px 4px 50px rgba(13, 100, 231, 0.411);
    }

    25% {
        box-shadow: 4px 4px 50px rgba(13, 100, 231, 0.568);
    }

    50% {
        box-shadow: 4px 4px 50px rgba(13, 100, 231, 0.733);
    }

    75% {
        box-shadow: 4px 4px 50px rgba(13, 100, 231, 0.815);
    }

    100% {
        box-shadow: 4px 4px 50px rgba(13, 100, 231, 0.87);
    }
}

@keyframes moveAvatar {
    0% {
        opacity: 1;
        left: 10%;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        left: 85%;
    }
}